.st0{opacity:0.76;fill:#43C4A6;}
.st1{fill:#ACE8F2;}
.st2{clip-path:url(#SVGID_5_);fill:#81B05F;}
.st3{clip-path:url(#SVGID_65_);fill:#6699C2;}
.st4{clip-path:url(#SVGID_15_);fill:#52638F;}
.st5{fill:#7FE0BF;}
.st6{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-miterlimit:10;}
.st7{fill:#4AAA88;}
.st8{fill:#175D80;}
.st9{clip-path:url(#SVGID_21_);fill:#353F5C;}
.st10{fill:#19242B;}
.st11{fill:#E80000;}
.st12{clip-path:url(#SVGID_45_);fill:#FFFFFF;}
.st13{fill:#E9D399;}
.st14{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st15{clip-path:url(#SVGID_25_);fill:#C22C28;}
.st16{fill:#85939E;}
.st17{fill:#1C2830;}
.st18{clip-path:url(#SVGID_51_);fill:#7BBA3C;}
.st19{fill:#897596;}
.st20{fill:#B8B8B8;}
.st21{fill:#1E77A3;}
.st22{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:3.9274,1.9637;}
.st23{fill:#EF3942;}
.st24{fill:#EF454E;}
.st25{clip-path:url(#SVGID_23_);fill:#374E78;}
.st26{clip-path:url(#SVGID_62_);fill:#666666;}
.st27{clip-path:url(#SVGID_13_);fill:#374E78;}
.st28{clip-path:url(#SVGID_37_);fill:#61AAB8;}
.st29{fill:#212C33;}
.st30{clip-path:url(#SVGID_2_);fill:#B52B32;}
.st31{fill:#F28885;}
.st32{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
.st33{clip-path:url(#SVGID_27_);fill:#61AAB8;}
.st34{clip-path:url(#SVGID_9_);fill:#52638F;}
.st35{clip-path:url(#SVGID_69_);fill:#6B7680;}
.st36{clip-path:url(#SVGID_7_);fill:#29577D;}
.st37{fill:#91DC47;}
.st38{clip-path:url(#SVGID_33_);fill:#437680;}
.st39{fill:url(#SVGID_3_);}
.st40{clip-path:url(#SVGID_54_);fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.st41{clip-path:url(#SVGID_41_);fill:#EA0001;}
.st42{clip-path:url(#SVGID_17_);fill:#FFFFFF;}
.st43{fill:#98CF70;}
.st44{fill:#999999;}
.st45{fill:none;stroke:#DFDFDF;stroke-linecap:round;stroke-miterlimit:10;}
.st46{opacity:0.4;fill:#CBADDE;}
.st47{fill:#2F4352;}
.st48{fill:#FF616B;}
.st49{fill:#FF747C;}
.st50{fill:#FF868D;}
.st51{fill:#61AAB8;}
.st52{fill:#FF9399;}
.st53{fill:#FFA7AD;}
.st54{fill:#FFBDC0;}
.st55{fill:#FFC0C4;}
.st56{fill:#FFD6D9;}
.st57{fill:#FFD9DB;}
.st58{fill:#FFDEE0;}
.st59{fill:#FFF4CA;}
.st60{fill:#FFFFFF;}
.st61{fill:#62B1DD;}
.st62{fill:#65CF69;}
.st63{fill:#9C6B3D;}
.st64{fill:#697FB8;}
.st65{fill:#9E9E9E;}
.st66{clip-path:url(#SVGID_19_);fill:#FFFFFF;}
.st67{fill:none;stroke:#FFF4CA;stroke-width:2;stroke-miterlimit:10;}
.st68{fill:#3672A4;}
.st69{clip-path:url(#SVGID_60_);fill:#805832;}
.st70{clip-path:url(#SVGID_43_);fill:#8A0001;}
.st71{clip-path:url(#SVGID_47_);fill:#7BBA3C;}
.st72{clip-path:url(#SVGID_56_);fill:#325680;}
.st73{clip-path:url(#SVGID_11_);fill:#52638F;}
.st74{fill:#D3D3D3;}
.st75{fill:#3B5569;}
.st76{fill:#3D699C;}
.st77{fill:#D9BB6F;}
.st78{opacity:0.42;fill:#0B194F;}
.st79{clip-path:url(#SVGID_35_);}
.st80{clip-path:url(#SVGID_67_);fill:#55B358;}
.st81{clip-path:url(#SVGID_49_);fill:#7BBA3C;}
.st82{clip-path:url(#SVGID_58_);fill:#325680;}
.st83{fill:#75AFDE;}
.st84{fill:#75CEDE;}
.st85{opacity:0.28;fill:#CBADDE;}
.st86{clip-path:url(#SVGID_31_);fill:#61AAB8;}
.st87{fill:#DADADA;}
.st88{fill:#DB7373;}
.st89{fill:#DBDBDB;}
.st90{fill:#DBEFFF;}
.st91{fill:#DC322D;}
.st92{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.st93{fill:#405C70;}
.st94{clip-path:url(#SVGID_39_);fill:#7B6987;}
.st95{fill:#DFDFDF;}
.st96{fill:#437680;}
.st97{fill:#43C494;}
.st98{fill:#446378;}
.st99{clip-path:url(#SVGID_29_);fill:#437680;}

