.st0{clip-path:url(#SVGID_40_);fill:#8A0001;}
.st1{fill:#AAAAAA;}
.st2{clip-path:url(#SVGID_44_);fill:#7BBA3C;}
.st3{clip-path:url(#SVGID_53_);fill:#325680;}
.st4{fill:#ABABAB;}
.st5{opacity:0.76;fill:#43C4A6;}
.st6{fill:#ACACAC;}
.st7{fill:#ACE8F2;}
.st8{fill:#ADADAD;}
.st9{fill:#AEAEAE;}
.st10{fill:#7FE0BF;}
.st11{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-miterlimit:10;}
.st12{fill:#AFAFAF;}
.st13{fill:#E0E0E0;}
.st14{fill:#E1E1E1;}
.st15{fill:#E2E2E2;}
.st16{fill:#E3E3E3;}
.st17{fill:#E4E4E4;}
.st18{fill:#4AAA88;}
.st19{fill:#E5E5E5;}
.st20{fill:#175D80;}
.st21{fill:#E6E6E6;}
.st22{fill:#19242B;}
.st23{fill:#E7E7E7;}
.st24{fill:#E80000;}
.st25{fill:#E8E8E8;}
.st26{fill:#E9D399;}
.st27{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st28{fill:#B0B0B0;}
.st29{clip-path:url(#SVGID_46_);fill:#7BBA3C;}
.st30{fill:#B1B1B1;}
.st31{clip-path:url(#SVGID_55_);fill:#325680;}
.st32{fill:#B2B2B2;}
.st33{fill:#B3B3B3;}
.st34{fill:#85939E;}
.st35{fill:#B4B4B4;}
.st36{clip-path:url(#SVGID_18_);fill:#353F5C;}
.st37{fill:#B52B32;}
.st38{fill:#B5B5B5;}
.st39{fill:#B6B6B6;}
.st40{fill:#1C2830;}
.st41{fill:#EAEAEA;}
.st42{fill:#B7B7B7;}
.st43{fill:#EBEBEB;}
.st44{clip-path:url(#SVGID_36_);fill:#7B6987;}
.st45{fill:#897596;}
.st46{fill:#B8B8B8;}
.st47{fill:#ECECEC;}
.st48{fill:#1E77A3;}
.st49{fill:#B9B9B9;}
.st50{fill:#EDEDED;}
.st51{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:3.9274,1.9637;}
.st52{fill:#EEEEEE;}
.st53{fill:#EF454E;}
.st54{clip-path:url(#SVGID_26_);fill:#437680;}
.st55{fill:#EFEFEF;}
.st56{clip-path:url(#SVGID_48_);fill:#7BBA3C;}
.st57{fill:#BABABA;}
.st58{clip-path:url(#SVGID_2_);fill:#81B05F;}
.st59{fill:#BBBBBB;}
.st60{clip-path:url(#SVGID_12_);fill:#52638F;}
.st61{fill:#BCBCBC;}
.st62{fill:#BDBDBD;}
.st63{fill:#BEBEBE;}
.st64{fill:#212C33;}
.st65{fill:#BFBFBF;}
.st66{fill:#F0F0F0;}
.st67{fill:#F1F1F1;}
.st68{fill:#F28885;}
.st69{fill:#F3F3F3;}
.st70{fill:#F4F4F4;}
.st71{clip-path:url(#SVGID_59_);fill:#666666;}
.st72{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
.st73{clip-path:url(#SVGID_42_);fill:#FFFFFF;}
.st74{fill:#91DC47;}
.st75{clip-path:url(#SVGID_22_);fill:#C22C28;}
.st76{fill:#C1C1C1;}
.st77{fill:#939393;}
.st78{fill:#C2C2C2;}
.st79{fill:#949494;}
.st80{fill:#C3C3C3;}
.st81{fill:#959595;}
.st82{fill:#C4C4C4;}
.st83{fill:#969696;}
.st84{fill:#C5C5C5;}
.st85{fill:#979797;}
.st86{fill:#C6C6C6;}
.st87{fill:#989898;}
.st88{fill:#C7C7C7;}
.st89{fill:#98CF70;}
.st90{fill:#999999;}
.st91{fill:#C8C8C8;}
.st92{fill:none;stroke:#62B1DD;stroke-width:2.8528;stroke-linecap:round;stroke-miterlimit:10;}
.st93{fill:#C9C9C9;}
.st94{fill:none;stroke:#DFDFDF;stroke-linecap:round;stroke-miterlimit:10;}
.st95{opacity:0.4;fill:#CBADDE;}
.st96{fill:#2F414D;}
.st97{fill:#2F4352;}
.st98{clip-path:url(#SVGID_20_);fill:#374E78;}
.st99{fill:#FF616B;}
.st100{fill:#FF747C;}
.st101{fill:#FF868D;}
.st102{fill:#61AAB8;}
.st103{fill:#FF9399;}
.st104{fill:#FFA7AD;}
.st105{fill:#FFBDC0;}
.st106{fill:#FFC0C4;}
.st107{fill:#FFD6D9;}
.st108{fill:#FFD9DB;}
.st109{fill:#FFDEE0;}
.st110{fill:#FFF4CA;}
.st111{fill:#FFFFFF;}
.st112{fill:#62B1DD;}
.st113{clip-path:url(#SVGID_38_);fill:#EA0001;}
.st114{clip-path:url(#SVGID_63_);fill:#55B358;}
.st115{fill:none;}
.st116{fill:#65CF69;}
.st117{fill:#9A9A9A;}
.st118{fill:#9B9B9B;}
.st119{fill:#CACACA;}
.st120{fill:#9C6B3D;}
.st121{fill:#9C9C9C;}
.st122{fill:#CBCBCB;}
.st123{clip-path:url(#SVGID_10_);fill:#374E78;}
.st124{fill:#697FB8;}
.st125{clip-path:url(#SVGID_34_);fill:#61AAB8;}
.st126{fill:#9D9D9D;}
.st127{fill:#CCCCCC;}
.st128{fill:#9E9E9E;}
.st129{fill:#CDCDCD;}
.st130{fill:#9F9F9F;}
.st131{fill:#CECECE;}
.st132{fill:#CFCFCF;}
.st133{fill:none;stroke:#FFF4CA;stroke-width:2;stroke-miterlimit:10;}
.st134{fill:#3672A4;}
.st135{clip-path:url(#SVGID_24_);fill:#61AAB8;}
.st136{clip-path:url(#SVGID_6_);fill:#52638F;}
.st137{clip-path:url(#SVGID_66_);fill:#6B7680;}
.st138{clip-path:url(#SVGID_4_);fill:#29577D;}
.st139{clip-path:url(#SVGID_50_);fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.st140{clip-path:url(#SVGID_61_);fill:#6699C2;}
.st141{clip-path:url(#SVGID_30_);fill:#437680;}
.st142{fill:#D0D0D0;}
.st143{fill:#D1D1D1;}
.st144{clip-path:url(#SVGID_14_);fill:#FFFFFF;}
.st145{fill:#D2D2D2;}
.st146{fill:#D3D3D3;}
.st147{fill:#D4D4D4;}
.st148{clip-path:url(#SVGID_57_);fill:#805832;}
.st149{fill:#D5D5D5;}
.st150{fill:#3B5569;}
.st151{fill:#D6D6D6;}
.st152{fill:#D7D7D7;}
.st153{fill:#3D699C;}
.st154{fill:#D8D8D8;}
.st155{fill:#D9BB6F;}
.st156{fill:#A0A0A0;}
.st157{clip-path:url(#SVGID_8_);fill:#52638F;}
.st158{opacity:0.42;fill:#0B194F;}
.st159{fill:#A1A1A1;}
.st160{clip-path:url(#SVGID_32_);}
.st161{fill:#A3A3A3;}
.st162{fill:#A4A4A4;}
.st163{fill:#75AFDE;}
.st164{fill:#75CEDE;}
.st165{opacity:0.28;fill:#CBADDE;}
.st166{fill:#A5A5A5;}
.st167{fill:#A6A6A6;}
.st168{fill:#DADADA;}
.st169{fill:#DB7373;}
.st170{fill:#A7A7A7;}
.st171{clip-path:url(#SVGID_16_);fill:#FFFFFF;}
.st172{fill:#DBDBDB;}
.st173{fill:#DBEFFF;}
.st174{fill:#DC322D;}
.st175{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.st176{fill:#A8A8A8;}
.st177{fill:#DCDCDC;}
.st178{fill:#A9A9A9;}
.st179{fill:#DDDDDD;}
.st180{fill:#405C70;}
.st181{fill:#DEDEDE;}
.st182{fill:#DFDFDF;}
.st183{fill:#437680;}
.st184{fill:#43C494;}
.st185{fill:#446378;}
.st186{fill:none;stroke:#3C74A3;stroke-width:3.1058;stroke-linecap:round;stroke-miterlimit:10;}
.st187{clip-path:url(#SVGID_28_);fill:#61AAB8;}

